.myheader {
    width: 720px;
    border: 1px solid black;
    overflow: hidden;
}

.profpic {
    wudtg: 300px;
    float: left;
    border:1px solid red;
    display: inline-block;
}

.profinfo {
    border: 1px solid green;
    overflow: hidden;
    float: left;
    display: inline-block;
}